body {
    font-family: monospace;
}

form {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

input {
    width: 33%;
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answer {
    flex-direction: row;
    color: rgb(155, 68, 127);
}

.refresh {
    background: none;
    border: 2px solid rgb(155, 68, 127);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}

.refresh:hover {
    color: white;
    background-color: rgb(155, 68, 127);
}

.match,
.inWord.match {
    background-color: rgb(49, 183, 49);
}

.inWord {
    background-color: rgb(252, 239, 91);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;
}

.word {
    display: flex;
    flex-direction: row;
}

.letter {
    height: 50px;
    width: 50px;
    margin: 10px 10px 0 0;

    flex-direction: row;
    flex-wrap: wrap;

    font-family: monospace;
    font-size: 2rem;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 10px;
}

.alphabetList {
    margin-top: 50px;
}

.alphabet {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}